extends ./../layout.pug
block content
  div(class="content")
    div(class="content__details")
      h1.content__title GenAI Art      
  
  div(class="content")
    div(class="content__details")
      div(class="center content__details__img") 
        iframe(width="100%" height="500"
          src="https://www.youtube.com/embed/ECp6HLuk_Kw?autoplay=1&mute=1&controls=0&modestbranding=1&rel=0&loop=1&"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        )
          
        iframe(width="100%" height="500"
          src="https://www.youtube.com/embed/6PFJeF_h4TM?autoplay=1&mute=1&controls=0&modestbranding=1&rel=0&loop=1"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        )

        //- p.page-text
        //- | Me

        div(class="center content__details__img")
          img(class="center content__details__img" src="./../img/2022/post-nature/postnature8.jpg")
          img(class="center content__details__img" src="./../img/2022/post-nature/postnature10.png")
          img(class="center content__details__img" src="./../img/2022/post-nature/postnature9.jpg")

      include ./../partials/back.pug
