extends ./../layout.pug
block content 
  div(class="content")
    div(class="content__details")
      h1.content__title Three.js
  
  div(class="content")
    div(class="content__details")
      div(class="center content__details__img")
        iframe(width="100%" height="500"
          src="https://umru.miami"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        )
        p.caption
          a(href="https://umru.miami" target="_blank") Click to go to site 
    div(class="content__details")
      div(class="center content__details__img")
        iframe(width="100%" height="500"
          src="https://violetforest.com/tones"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        )
        p.caption
          a(href="https://violetforest.com/tones" target="_blank") Click to go to site     

      div(class="center content__details__img")
        iframe(width="100%" height="500"
          src="https://gateway.fxhash2.xyz/ipfs/QmPvBJb5aMHQDcTYhHuzkLz25hY9mRaZ6XnJTbnhEkaPW2/?cid=ipfs%3A%2F%2FQmPvBJb5aMHQDcTYhHuzkLz25hY9mRaZ6XnJTbnhEkaPW2&fxhash=ooKQPrjw3sHouaHookoRH4yHbbZi1ykD2GELL6DVzbfvjPp2hhH&fxminter=tz1Sb1yoMGWguDKrZmwcuCJe46Qe1ftW4zc4&fxiteration=1&fxcontext=standalone&fxchain=TEZOS&legacy=false"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        )
        p.caption
          a(href="https://gateway.fxhash2.xyz/ipfs/QmPvBJb5aMHQDcTYhHuzkLz25hY9mRaZ6XnJTbnhEkaPW2/?cid=ipfs%3A%2F%2FQmPvBJb5aMHQDcTYhHuzkLz25hY9mRaZ6XnJTbnhEkaPW2&fxhash=ooKQPrjw3sHouaHookoRH4yHbbZi1ykD2GELL6DVzbfvjPp2hhH&fxminter=tz1Sb1yoMGWguDKrZmwcuCJe46Qe1ftW4zc4&fxiteration=1&fxcontext=standalone&fxchain=TEZOS&legacy=false" target="_blank") Click to go to site     

      div(class="center content__details__img")
        iframe(width="100%" height="500"
          src="https://gateway.fxhash2.xyz/ipfs/QmaA49t9Royuyof1Wc3N2Zj3X37cFs4aVFKbPn1KXrzsec/?cid=ipfs%3A%2F%2FQmaA49t9Royuyof1Wc3N2Zj3X37cFs4aVFKbPn1KXrzsec&fxhash=ooyyDwZLYd1XuPSDoszTJogKAgh77ajQFnGEiKE9kPxw7Ya4J2G&fxminter=tz1B8VRsccdBLnpv8fQBMwvV1cTKuGraehUE&fxiteration=1&fxcontext=standalone&fxchain=TEZOS&legacy=false"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        )
        p.caption
          a(href="https://gateway.fxhash2.xyz/ipfs/QmaA49t9Royuyof1Wc3N2Zj3X37cFs4aVFKbPn1KXrzsec/?cid=ipfs%3A%2F%2FQmaA49t9Royuyof1Wc3N2Zj3X37cFs4aVFKbPn1KXrzsec&fxhash=ooyyDwZLYd1XuPSDoszTJogKAgh77ajQFnGEiKE9kPxw7Ya4J2G&fxminter=tz1B8VRsccdBLnpv8fQBMwvV1cTKuGraehUE&fxiteration=1&fxcontext=standalone&fxchain=TEZOS&legacy=false" target="_blank") Click to go to site     

      div(class="center content__details__img")
        iframe(width="100%" height="500"
          src="https://violetforest.com/lipstick"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        )
        p.caption
          a(href="https://violetforest.com/lipstick" target="_blank") Click to go to site     

      div(class="center content__details__img")
        iframe(width="100%" height="500"
          src="https://gateway.fxhash2.xyz/ipfs/QmWs3JZryNzhxBNJE3VkREws8HnzDRnQWDUaFfzG81phjM/?cid=ipfs%3A%2F%2FQmWs3JZryNzhxBNJE3VkREws8HnzDRnQWDUaFfzG81phjM&fxhash=ooGnyANRk1nrJrAG6Tp9u1LAVZREWeYDJcLSK1gbrhpZ797X9ZP&fxminter=tz1o8cQFjzFwCS5CiTSEZwJGKz6Uqw6un7Vq&fxiteration=1&fxcontext=standalone&fxchain=TEZOS&legacy=false"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        )
        p.caption
          a(href="https://gateway.fxhash2.xyz/ipfs/QmWs3JZryNzhxBNJE3VkREws8HnzDRnQWDUaFfzG81phjM/?cid=ipfs%3A%2F%2FQmWs3JZryNzhxBNJE3VkREws8HnzDRnQWDUaFfzG81phjM&fxhash=ooGnyANRk1nrJrAG6Tp9u1LAVZREWeYDJcLSK1gbrhpZ797X9ZP&fxminter=tz1o8cQFjzFwCS5CiTSEZwJGKz6Uqw6un7Vq&fxiteration=1&fxcontext=standalone&fxchain=TEZOS&legacy=false" target="_blank") Click to go to site     

      div(class="center content__details__img")
        iframe(width="100%" height="500"
          src="https://violetforest.com/flowers"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        )
        p.caption
          a(href="https://violetforest.com/flowers" target="_blank") Click to go to site  

      div(class="center content__details__img")
        iframe(width="100%" height="500"
          src="https://gateway.fxhash2.xyz/ipfs/QmPEYFRzKQLRfZVe7YApGZ6iV7Cf6sTKgJCRNDdB4pp8YD/?cid=QmPEYFRzKQLRfZVe7YApGZ6iV7Cf6sTKgJCRNDdB4pp8YD&fxhash=op8K9RnUCFW4oFUgPX2yFGuZyUegCZEp4w6iHkWYP3T3JBb4ADW&fxminter=tz1WRboGJrpU2iUz537rwwaShwtQFA3KmUd2&fxiteration=7&fxcontext=standalone&fxchain=TEZOS&legacy=false"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        )
        p.caption
          a(href="https://gateway.fxhash2.xyz/ipfs/QmPEYFRzKQLRfZVe7YApGZ6iV7Cf6sTKgJCRNDdB4pp8YD/?cid=QmPEYFRzKQLRfZVe7YApGZ6iV7Cf6sTKgJCRNDdB4pp8YD&fxhash=op8K9RnUCFW4oFUgPX2yFGuZyUegCZEp4w6iHkWYP3T3JBb4ADW&fxminter=tz1WRboGJrpU2iUz537rwwaShwtQFA3KmUd2&fxiteration=7&fxcontext=standalone&fxchain=TEZOS&legacy=false" target="_blank") Click to go to site  

      include ./../partials/back.pug